{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<h2>About Us</h2>

    <p>
        Alumnyy is a service that strives to be the number one when it comes to finding properties for rental and ones for short term lodging.
    </p>

    <h3><i class="fa fa-user-tie"></i> Meet the Team </h3>

    <div class="content">
        <div class="alumnus">
            <b>
                    <p class="name">
                        <img src="{{ url_for('static', filename='team/dominic.jpg') }}" class="rounded-circle" width="300" height="236">
                    </p>

            </b>
            <p class="name"> Dominic Samo </p>
            <p><i class="fas fa-user-tie"></i> Software Engineer</p>
            <p><i class="fas fa-school"></i> University of Eswatini</p>
            <p><i class="fas fa-book-reader"> Bachelor of Science in Computer Science and Physics</i> </p>
            <p><i class="fas fa-user-graduate"></i> 2021</p>
        </div>
        <div class="alumnus">
            <b>
                    <p class="name">
                        <img src="{{ url_for('static', filename='team/mulubrhan.jpg') }}" class="rounded-circle" width="300" height="236">
                    </p>

            </b>
            <p class="name"> Mulubrhan Birhanu </p>
            <p><i class="fas fa-user-tie"></i> Software Engineer</p>
            <p><i class="fas fa-school"></i> Marwadi University</p>
            <p><i class="fas fa-book-reader"> Bachelor of Technology Computer Engineering</i> </p>
            <p><i class="fas fa-user-graduate"></i> 2025</p>
        </div>
  </div>

    <h3><i class="fa fa-anchor"></i> Our Purpose</h3>

    <p>
        Alumnyy strives to be the best platform that connects alumni with fellow alumni from their alma mater. 
        We strive to offer the best platform for intellectuals to convene and liaise. 
    </p>
    
    <h3><i class="fa fa-envelope"></i> Contact Us</h3>

    <ul style="text-align: left">
        <li><i class="fa fa-handshake"></i> Profile Queries: <a href="mailto:profiles@alumnyy.com"> profiles@alumnyy.com </a> </li>
        <li><i class="fa fa-scroll"></i> General Queries: <a href="mailto:info@alumnyy.com"> info@alumnyy.com </a></li>
        <li><i class="fa fa-bug"></i> Bug/Error Report: <a href="mailto:support@alumnyy.com"> support@alumnyy.com </a></li>
        <li><i class="fa fa-ad"></i> Advertising Queries: <a href="mailto:ads@alumnyy.com"> ads@alumnyy.com </a></li>
            <ul>
                <li>We do not offer advertising yet</li>
                <li>Email enquiries can still be sent for partnership talks and contracts</li>
            </ul>
    </ul>

    <h3> <i class="fas fa-user-graduate"></i> Registering as an Alumni Disclaimer</h3>
        
    <p>Alumni are encouraged to signup with a "work" telephone/mobile number and email. By work we mean a mobile number or email that can
         be posted publicly and can be contacted by any alumnus that ones has connected with. Since the numbers and emails will be displayed to
          fellow connected alumni, heinous actors (who may pose or be authentic fellow alumni) may use it and contact Alumni for nefarious reasons 
          such as scamming and thus Alumni are encouraged to be cautious and diligent. </p>
        
        <p><i class="fas fa-graduation-cap"></i> Information required:</p>
           <ul>
                <li>Fullname (eg. Calvin Monteiro, Ayana Tesfaye, Julius Mandla Motsa, etc)</li>
                <li>School (eg. University of Eswatini, Marwadi University, etc)</li>
                <li>Programme (eg. MBA, MBA Finance, BSc Computer Science, PhD Physics, etc)</li>
                <li>Year (eg. 1995, 2018, etc)</li>
                <li>Mobile Number/Phone Number</li>
                <li>Email Address</li>
                <li>Occupation (Software Engineer, Professor, Mayor, etc)</li>
                <li>Organisation (Place of employment)</li>
                <li>Country (Nation where based at)</li>
                <li>Password (Should be more than 7 characters eg. C4l_()M0ntt)</li>
           </ul>
           
         <p><i class="fas fa-graduation-cap"></i> Information that can be added after signup for a stronger profile:</p>
           <ul>
                <li>Profile picture</li>
                <li>Bio (eg. Write about your self, etc)</li>
                <li>More schools, programmes and years if alumni of more than one school</li>
                <li>Links to a personal website, repository, scholarly profile, etc</li>
           </ul>  

        <h3><i class="fa fa-book"></i> Privacy policy</h3>
      
        <p> Please read the General information and our Conditions of Use and Private Policy below. 
            They apply to all users of this Website located at www.alumnyy.com (“the Website”) without qualifications or exceptions. 
            If you do not agree to any of the content, you may not enter, view or make use of the Website.</p>
        
            
         <p>Alumnyy recognises and respects your right to privacy. Accordingly we are committed to the protection of information
             belonging to you which identifies you to third parties (“Personal Information”) and the appropriate use of personal information.
              owner information collected and displayed is one applicable to the function of the website and which is to allow alumni to easily
               connect with fellow alumni. It is therefore encouraged that alumni should have work telephone/mobile numbers and emails as those will be
                displayed on the website to alumni's connections.</p>
         
         <p>Alumnyy strives to collect as minimum data as possible during signup/registration.</p>
         
         <p>Any “cookie” used by the Website is not accessible to other internet websites and is only used for internet sessions,
             that is the cookies only work when you are logged in. Alumnyy does not collect data for advertisement targeting.</p>
        
        <h3><i class="fa fa-info-circle"></i> General information</h3>
  
        <p>Alumnyy is an online platform that connects alumni. We provide a space for intellectuals from alma maters to connect.</p>
        
        <h3><i class="fa fa-info-circle"></i> Conditions of use</h3>
        
        <p>The Website is owned by Alumnyy which has copyright in respect of all material contained on the Website.  University and college logos
            are owned by the universities displaced. Information displayed on an alumnus's profile are owned by that alumnus.</p>
        
        <p>Comments and suggestions about the Website are welcome. By making such suggestions or comments, you release intellectual property
             rights contained in them to Alumnyy at no charge.</p>
        
        <p>Alumnyy reserves the right to change of the content of the Website at any time in its sole discretion.</p>
        
        <p>The Website cannot be used to send or post, or place on the Website, any message or material that is obscene, vulgar, harassing,
             illegal or otherwise objectionable. Alumni are all times to respect fellow alumni. Alumni are encouraged to always be
              professional and act like the intellectuals they are. Alumni on our site are strictly people who have completed studies at a 
            university of college. Alumni are encouraged to look for and report suspicious profiles of posers, look at a profile properly before 
            initiating or accepting a connection.</p>
        
        <p>This site is for intellectuals, posts posted will be shown to all alumni of an alma mater space. An alma mater space is the section that shows 
            recommendations of fellow alumni. For now alumni will be limited to only one alma mater space and later to all alma mater spaces that alumni
            belong to Undergrad Schools(s), Graduate School(s) and Post Graduate School(s).
        </p>
        
        <p>Any dispute arising between Alumnyy and a third party concerning the use of, or reliance upon the Website will be subject
             to the jurisdiction of the law of the land and courts.</p>       


{% endblock %}