{% extends "base.html" %}
{% block title %}Messages{% endblock %}

{% block content %}

<script>
    function ajax(){

    var req = new XMLHttpRequest();
    req.onreadystatechange = function(){
    if(req.readyState == 4 && req.status == 200)
    {
    document.getElementById('chats').innerHTML = req.responseText;
    }
    }
    req.open('POST', '/chats', true);
    req.send();
    }
    setInterval(function(){ajax()}, 10);
</script>
<div class="row" onload="ajax();">
    <div class="col-xs-1"></div>
    <div class="col-xs-4" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
        <div style="text-align: center;font-size: 18px;background-color: #ddd;border-radius: 4px;color: #5e5fa4;margin-bottom: 8px;">
            <span>Chat with your connections</span>
        </div>
        <ul class="list-group">
            {% for approved in approved_sent_connections %}
                {% if approved.connectb != current_user.id %}
                    <li class="list-group-item"><a href="{{ approved.connectb }}"> {{ approved.fullname }} </a>
                        {% if approved.online == "1" %}
                            <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% else %}
                            <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <ul class="list-group">
            {% for approved in approved_request_connections %}
                {% if approved.connecta != current_user.id %}
                    <li class="list-group-item"><a href="{{ approved.connecta }}"> {{ approved.fullname }} </a>
                        {% if approved.online == "1" %}
                            <span style="height: 12px;width: 12px;background-color: #1fc124;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% else %}
                            <span style="height: 12px;width: 12px;background-color: #8a8a8a;border-radius: 6px;
                            float: right;margin-top: 5px;"></span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-xs-6" style="background-color: #f5f5f5;margin: 0px 10px;border-radius: 4px; padding: 10px 20px 20px 20px;">
        {% for alumnus in alumnus %}
            {% if current_user.id != alumnus.id %}
                <div style="text-align: center;font-size: 18px; color: #22aa45;background-color: #ddd;border-radius: 4px;">
                    <span>{{ alumnus.fullname}}</span>
                </div>
                <div id="chat-box" style="overflow-y: scroll; height: 350px; padding: 10px 0px 0px 0px;">
                    <div id="chats"></div>
                </div>
                {% from "includes/_formhelpers.html" import render_field %}
                <div>
                    <form method="POST" action="">
                    <div class="form-group">
                        {{render_field(form.body, class_="form-control", value="", placeholder="Enter your text...")}}
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Send</button>
                    </form>
                </div>
            {% else %}
                <div style="text-align: center;">
                    <h1>Welcome to Chat Room</h1>
                    <p class="lead">Select connection and start chatting...</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-1"></div>
</div>

{% endblock %}