{% extends "base.html" %}
{% block title %}Connections{% endblock %}

{% block content %}

<br>
<h4><i class="fas fa-user-graduate"></i> Connections</h4>

<div class="content">
   
 {% for approved in approved_request_connections %}
  <ul class="list-group list-group-flush" id="text">
              <br> 
              <li class="list-group-item alumnus"> 
                            <a href="/connectprofile?id={{ approved.connecta }}">
                            {% if approved.avatar == None %}
                                <img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="60" height="43">
                            {% else %}
                                <img src="{{ approved.avatar }}" 
                            class="rounded-circle" width="60" height="43">
                            {% endif %}
                            {{ approved.fullname }}</a>
                  <br> 
              </li>
              <br>
  </ul>
  {% endfor %}

  {% for approved in approved_sent_connections %}
  <ul class="list-group list-group-flush" id="text">
            <br> 
            <li class="list-group-item alumnus"> 
                            <a href="/connectprofile?id={{ approved.connectb }}">
                            {% if approved.avatar == None %}
                                <img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="60" height="43">
                            {% else %}
                                <img src="{{ approved.avatar }}" 
                                  class="rounded-circle" width="60" height="43">
                            {% endif %}
                            {{ approved.fullname }}</a>
            </li>
            <br> 
</ul>
{% endfor %}

</div> 


  </div>

  <br>
{% endblock %}