{% extends "base.html" %}
{% block title %}Connections{% endblock %}

{% block content %}

<br>
<h4><i class="fas fa-user-graduate"></i> Connections</h4>

<div class="content">
   
  <ul class="list-group list-group-flush" id="text">
      {% for accepted in approved_connections %}
              <br> 
              <li class="list-group-item alumnus"> 
                      {% if accepted.userid == current_user.id %}
                          {% if accepted.avatar == None %}
                                <img src="{{ url_for('static', filename='assets/default.png') }}" 
                                class="rounded-circle" width="40" height="33"> {{ accepted.fullname }}
                          {% else %}
                                <img src="{{ accepted.avatar }}" 
                          class="rounded-circle" width="40" height="33"> {{ accepted.fullname }}
                          {% endif %}
                      {% else %}
                          No pending requests for Connections                              
                      {% endif %}
                  <br> 
              </li>
              <br>
      {% endfor %}
  </ul>

</div> 

<br>

<h4><i class="fas fa-graduation-cap"></i> Approve Connection(s)</h4>

<div class="content">
   
  <ul class="list-group list-group-flush" id="text">
      {% for approve in approve_connections %}
              <br> 
              <li class="list-group-item alumnus"> 
                      {% if approve.userid == current_user.id %}
                          {% if accepted.avatar == None %}
                                <img src="{{ url_for('static', filename='assets/default.png') }}" 
                                class="rounded-circle" width="40" height="33"> {{ approve.fullname }}
                          {% else %}
                                <img src="{{ approve.avatar }}" 
                          class="rounded-circle" width="40" height="33"> {{ approve.fullname }}
                          {% endif %}
                      {% else %}
                          No pending approvals to be done                              
                      {% endif %}
                  <br> 
              </li>
              <br>
      {% endfor %}
  </ul>

</div> 

<br>

<h4><i class="fas fa-user-plus"></i> Pending Request(s)</h4>

  <div class="content">
     
    <ul class="list-group list-group-flush" id="text">
        {% for pending in requested_connections %}
                <br> 
                <li class="list-group-item alumnus"> 
                            {% if pending.avatar == None %}
                                  <img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="40" height="33"> {{ pending.fullname }}
                            {% else %}
                                  <img src="{{ pending.avatar }}" 
                            class="rounded-circle" width="40" height="33"> {{ pending.fullname }}
                            {% endif %}
                    <br> 
                </li>
                <br>
        {% endfor %}
    </ul>

  </div>

  <br>
{% endblock %}