{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

<br>

<h4>Connection</h4>

  <div class="content">

    {% for alumnus in alumnus %}
                <div class="alumnus">
                    <b>
                        <p><i class="fas fa-handshake"></i> Connected</p>
                            {% if alumnus.avatar == None %}
                            <p class="name">
                                    <img src="{{ url_for('static', filename='assets/default.png') }}" class="rounded-circle"
                                     width="200" height="136">
                                <br>
                                {{ alumnus.fullname }}
                            </p>
                            {% else %}
                            <p class="name">
                                   <img src="{{ alumnus.avatar }}" class="rounded-circle" width="200" height="136">
                                <br>
                                {{ alumnus.fullname }}
                            </p>                    
                            {% endif %}

                    </b>
                    <p><i class="fas fa-school"></i> {{ alumnus.school }}</p>
                    <p><i class="fas fa-book-reader"></i> {{ alumnus.programme }}</p>
                    <p><i class="fas fa-user-graduate"></i> {{ alumnus.year }}</p>
                    <p><i class="fas fa-briefcase"></i> {{ alumnus.occupation }}</p>
                    <p><i class="fas fa-building"></i> {{ alumnus.organisation }}</p>
                    <p><i class="fas fa-flag"></i> {{ alumnus.country }}</p>
                    <p><a class="btn btn-primary" href="mailto:{{ alumnus.email }}"><i class="fas fa-envelope"></i> {{ alumnus.email }}</a></p>
                    <p><a class="btn btn-primary" href="tel:{{ alumnus.mobilenumber }}"><i class='fas fa-phone'></i> {{ alumnus.mobilenumber }} </a></p>
                    <p><a class="btn btn-primary" href=""><i class='fas fa-comment-alt'></i> Text </a></p>
                    {% if alumnus.bio != None %}
                    <p><i class="fas fa-book"></i> Biography</p>
                    <p>{{ alumnus.bio }}</p>
                    {% endif %}

                </div>
    {% endfor %}
  </div>

  <br>
{% endblock %}