{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h2>Alumnyy the ideal platform to connect with fellow alumni from one's alma mater!!</h2>

<hr>

<h4>Connect with fellow alumni from {{  current_user.school }}</h4>

  <div class="content">

        {% for alumnus in alumni %}
           {% if alumnus.school == current_user.school and alumnus.id != current_user.id %}
                <div class="alumnus">
                    <b>
                        <p class="name">
                            {% if alumnus.avatar == None %}
                                <a href="/profile?id={{ alumnus.id }}">
                                    <img src="{{ url_for('static', filename='assets/default.png') }}"
                                     class="rounded-circle" width="200" height="136">
                                </a>
                            {% else %}

                               <a href="/profile?id={{ alumnus.id }}">
                                   <img src="{{ alumnus.avatar }}" class="rounded-circle" width="200" height="136">
                               </a>                   
                            {% endif %}
                            <br>
                            <a href="/profile?id={{ alumnus.id }}">{{ alumnus.fullname }}</a>
                        </p> 

                    </b>
                    <p><i class="fas fa-school"></i> {{ alumnus.school }}</p>
                    <p><i class="fas fa-book-reader"></i> {{ alumnus.programme }}</p>
                    <p><i class="fas fa-user-graduate"></i> {{ alumnus.year }}</p>
                </div>
            {% endif %}
        {% endfor %}

  </div>

  <br>
{% endblock %}