{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}

<br>

<div class="content">
    <div class="alumnus">
        
                    <div class="container">
                        <div class="picture-container">

                            <h6 class="">Click Picture to Update Profile Picture</h6>

                            {% if current_user.avatar == None %}
                                <div class="picture">
                                    <img src="{{ url_for('static', filename='assets/default.png') }}" class="picture-src" id="wizardPicturePreview" title="Click to Upload Image">
                                    <input type="file" id="wizard-picture" class="">
                                </div>
                                <br>
                                     <p class="name">{{ current_user.fullname }}</p>
                                <br>
                            {% else %}
                                <div class="picture">
                                    <img src="{{ current_user.avatar }}" class="picture-src" id="wizardPicturePreview" title="Click to Upload Image">
                                    <input type="file" id="wizard-picture" class="">
                                </div>
                                <br>
                                    <p class="name">{{ current_user.fullname }}</p>
                                <br>                           
                            {% endif %}

                        </div>
                    </div>

                    </b>
                    <p><i class="fas fa-school"></i> {{ current_user.school }}</p>
                    <p><i class="fas fa-book-reader"></i> {{ current_user.programme }}</p>
                    <p><i class="fas fa-user-graduate"></i> {{ current_user.year }}</p>
                    <p><i class="fas fa-briefcase"></i> {{ current_user.occupation }}</p>
                    <p><i class="fas fa-building"></i> {{ current_user.organisation }}</p>
                    <p><i class="fas fa-flag"></i> {{ current_user.country }}</p>

                    <div class="register">
                        <form method="POST" enctype="multipart/form-data" autocomplete="off">
                            <div class="form-group">
                                <p><i class="fas fa-book"></i> Biography</p>
                                <textarea id="bio" class="form-control" name="bio">{{ current_user.bio }}</textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Update Profile</button>
                        </form>
                    </div>



                </div>

  </div>

  <br>
{% endblock %}