{% extends "base.html" %}
{% block title %}My Profile{% endblock %}

{% block content %}
<br>
<div class="content">
    <div class="alumnus">
        <br>
            {% if current_user.avatar == None %}
            <p class="name">
                <img id="EditProfile" src="{{ url_for('static', filename='assets/default.png') }}" class="rounded-circle"
                width="200" height="136">
            </p>
            {% else %}
            <p class="name">
                <img id="EditProfile" src="{{ user.avatar }}" class="rounded-circle" width="200" height="136">
            </p>                    
            {% endif %}
            <form method="post" action="/upload" enctype="multipart/form-data" class="form-inline">
                <div class="form-group">
                    <label>Upload Image: </label>
                    <input type="file" name="files[]" id="fileInput" class="form-control" multiple>
                </div>
                <input type="submit" name="submit" class="btn btn-primary" value="Update Profile Picture" />
            </form>
        <br>

        <p name="name"> {{ user.fullname }} </p>

        <p><i class="fas fa-school"></i> {{ user.school }}</p>
        <p><i class="fas fa-book-reader"></i> {{ user.programme }}</p>
        <p><i class="fas fa-user-graduate"></i> {{ user.year }}</p>
        <p><i class="fas fa-briefcase"></i> {{ user.occupation }}</p>
        <p><i class="fas fa-building"></i> {{ user.organisation }}</p>
        <p><i class="fas fa-flag"></i> {{ user.country }}</p>
        <p><a class="" href="mailto:{{ user.email }}"><i class="fas fa-envelope"></i> {{ user.email }}</a></p>
        <p><a class="" href="tel:{{ user.mobilenumber }}"><i class='fas fa-phone'></i> {{ user.mobilenumber }} </a></p>
        

        <div class="register">
            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                <div class="form-group">
                    <p><i class="fas fa-book"></i> Biography</p>
                    <textarea id="bio" class="form-control" name="bio">{{ current_user.bio }}</textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>

    </div>
</div>

<br>

{% endblock %}