{% extends "base.html" %}
{% block title %}Pending Request(s){% endblock %}

{% block content %}

<br>

<h4><i class="fas fa-user-plus"></i> Pending Request(s)</h4>

  <div class="content">
     
    <ul class="list-group list-group-flush" id="text">
        {% for pending in requested_connections %}
                <br> 
                <li class="list-group-item alumnus"> 
                            {% if pending.avatar == None %}
                                <a href="/profile?id={{ pending.recid }}"><img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ pending.recid }}">{{ pending.fullname }}</a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="declinereq?decline={{ pending.recid }}" title="Delete Request"> <i class="fas fa-trash"></i> Delete Request</a> 
                            {% else %}
                                <a href="/profile?id={{ pending.recid }}"><img src="{{ pending.avatar }}" 
                            class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ pending.recid }}">{{ pending.fullname }}</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="declinereq?decline={{ pending.recid }}" title="Delete Request"> <i class="fas fa-trash"></i> Delete Request</a> 
                            {% endif %}
                    <br> 
                </li>
                <br>
        {% endfor %}
    </ul>

  </div>

  <br>
{% endblock %}