{% extends "base.html" %}
{% block title %}Connections{% endblock %}

{% block content %}

<br>

<h4><i class="fas fa-user-plus"></i> Pending Request(s)</h4>

  <div class="content">
     
    <ul class="list-group list-group-flush" id="text">
        {% for pending in requested_connections %}
                <br> 
                <li class="list-group-item alumnus"> 
                            {% if pending.avatar == None %}
                                <a href="/profile?id={{ pending.id }}"><img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ pending.id }}">{{ pending.fullname }}</a>
                            {% else %}
                                <a href="/profile?id={{ pending.id }}"><img src="{{ pending.avatar }}" 
                            class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ pending.id }}">{{ pending.fullname }}</a>
                            {% endif %}
                    <br> 
                </li>
                <br>
        {% endfor %}
    </ul>

  </div>

  <br>
{% endblock %}