{% extends "base.html" %}
{% block title %}Approve Connection(s){% endblock %}

{% block content %}

<br>

<h4><i class="fas fa-graduation-cap"></i> Approve Connection(s)</h4>

<div class="content">
   
  <ul class="list-group list-group-flush" id="text">
      {% for approve in approve_connections %}
              <br> 
              <li class="list-group-item alumnus"> 
                            {% if approve.avatar == None %}
                                <a href="/profile?id={{ approve.initid }}"><img src="{{ url_for('static', filename='assets/default.png') }}" 
                                  class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ approve.initid }}">{{ approve.fullname }}</a>
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/decline?decline={{ approve.initid }}" title="Decline"> <i class="fas fa-trash"></i> Decline</a>  
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/approval?approve={{ approve.initid }}" title="Accept"> <i class="fas fa-handshake"></i> Accept</a>
                            {% else %}
                                <a href="/profile?id={{ approve.initid }}"><img src="{{ approve.avatar }}" 
                            class="rounded-circle" width="40" height="33"></a> <a href="/profile?id={{ approve.initid }}">{{ approve.fullname }}</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/approval?decline={{ approve.initid }}" title="Decline"> <i class="fas fa-trash"></i> Decline</a>  
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="" title="Accept"> <i class="fas fa-handshake"></i> Accept</a>
                            {% endif %}
                  <br> 
              </li>
              <br>
      {% endfor %}
  </ul>

</div> 

<br>

{% endblock %}